.Weather{
    font-family: arial, sans-serif;
    border:1px solid #1a3255;
    padding: 16px;
    border-radius:4px;
   background-color: #1a3255;
   color:aqua
}

.Weather h1{
    color:aqua;
    font-size: 24px;
    font-weight: 100;
    line-height: 29px;
    margin: 20px 0 0 0;
}

.Weather ul{
    margin:0;
    padding:0;
}

.Weather li{
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    list-style: none;
    color:aqua
}

.Weather .temperature{
    font-weight:bold;
    color:aqua;
    font-size:40px;
    line-height: 40px;
    margin-left:5px;
}

.Weather canvas{
    margin: 10px auto;
}

.Weather .unit{
    color:aqua;
    font-size:16px;
    font-weight: 400;
    position:relative;
    line-height:1;
    top:-34px;
}
